.imagem-carrossel {
    object-fit: cover;
    height: 400px;
}

.fonte-texto {
    font-family: flood-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    color:darkred;
}

.fonte-titulo-card {
    font-family: flood-std,sans-serif;
    font-size: 20px;
    color: darkblue;
}

.fonte-texto-card-footer {
    font-family: flood-std,sans-serif;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: darkblue;
}
